
img {
    height: 550px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.card-body{
    height: 200px;
}

.Img1{
    height: 200px;
    width: 70%;
    display: flex;
    justify-content: center;
}


.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 8px ;
}

 .list-group-item {
    background-color: transparent ;
    border: 0;
 }

  .bg-image {
    background-image: url('../assets/images/photo-1552083375-1447ce886485.avif');
    background-size: cover;
    background-position: center;
    height: 750px;
    opacity: 1.0;
  }
  
body {
    overflow-x: hidden;
}

.fab-icon{
    font-size:30px;
    margin: 0 10px;
    display: inline-block;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
  }

  .bg-dark {
    background-color: #343a40; 
    color: #ffffff; 
  }